body{
    background-color: #2b2b2b;
    color: white;
}

.login-block{
    background-color: #3c3f41;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 150px 30%;
    padding: 8px;
    height: 280px;
    border-radius: 15px;
}

.login-block h2{
    margin: 0;
}

.logo{
    max-width: 100%;
    height: auto;
}

.logo-block{
    position: fixed;
    bottom: 15px;
}

.login-btn{
    width: 130px;
    padding: 3px;
    color: white;
    background-color: #222;
    border: 0;
    border-radius: 3px;
    font-size: 110%;
}

.login-btn:hover{
    cursor: pointer;
}

.login-sm{
    background-color: #ff520e;
    border: 0;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-size: 110%;
    margin-top: 5px;
    width: 130px;
}

.login-sm:hover{
    cursor: pointer;
}

.alert-danger{
    margin: auto auto -40px auto;
    color: #721c24;
    background-color: #f8d7da;
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    z-index: -1;
}